<h1>Employee Details</h1>
<mat-dialog-content>
<form [formGroup]="formValue">
<p>
    <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input formControlName="fullName" matInput placeholder="Placeholder">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Placeholder">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Mobile Phone</mat-label>
        <input formControlName="mobile" matInput placeholder="Placeholder">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Job Title</mat-label>
        <input formControlName="job" matInput placeholder="Placeholder">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <input formControlName="department" matInput placeholder="Placeholder">
    </mat-form-field>
</p>
</form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Add New Employee</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>